*
{
    font-family: Calibri, sans-serif;
}

#contener {
	display: flex;
}

p {
	text-align: justify;
}

h3 {
	color: #616161; 
}

i.fas {
	color: #FF5722;
}
i.far {
	color: #FF5722;
}

hr {
	border-color: #FF5722;
	margin-top: -1%;
	width: 50%;
	margin-left: 0%;
	margin-bottom: 5%;
}

.blockright {
	margin-left: 5%;
}

h2 {
	margin-top: 0%;
}
/*********************************************************MARGE DE GAUCHE*******************************************************************/
.marge {
	background-color: #FF5722;
	width: 25%;
}
.marge img {
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;
	border-radius: 25px;
}
.marge h1 {
	background-color: #616161;
	color: #FF5722;
	font-weight: normal;
	margin-bottom: 15%;
	margin-top: 20%;
 	font-size: x-large;
 	text-align: center;
}
.contact p a{
	text-decoration: none;
	color: #616161;
}
.contact p a:hover{
	color: white;
}
.contact p{
	color: #616161;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}
.moi p {
	color: #616161;
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
}
/*********************************************************FIN MARGE DE GAUCHE*******************************************************************/

/*********************************************************TETE DE PAGE*******************************************************************/
.titre h1 {
	color: #FF5722;
	font-size: 4em;
	display: inline-block;
}
.titre h1.nom {
	color: #616161;
	margin-left: 2%;
}
.metier {
	font-size: 1.5em;
	color: #616161;
	margin-top: -3%;
}
.titre hr {
	width: 10%;
	margin-left: 0%;
}
.titre {
	margin-bottom: 10%;
}
/*********************************************************FIN TETE DE PAGE*******************************************************************/

/*********************************************************SECTION DIPLOME*******************************************************************/
.diplometitre {
	display: flex;
}
.diplometitre i {
	margin-right: 3%;
}
.diplomedate {
	display: flex;
}
.diplomedate i {
	margin-right: 2%;
}
.diplomedate p {
	margin-top: 0%;
}
.diplomecontenu {
	display: flex;
}
.diplometext {
	margin-top: -2%;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-right: 50%;
}
/*********************************************************FIN SECTION DIPLOME*******************************************************************/

/*********************************************************SECTION EXPERIENCE*******************************************************************/
.experiencetitre {
	display: flex;
}
.experiencetitre i {
	margin-right: 3%;
}
.experiencedate {
	display: flex;
}
.experiencedate i {
	margin-right: 2%;
}
.experiencedate p {
	margin-top: 0%;
}
.experiencecontenu {
	display: flex;
}
.experiencetext {
	margin-top: -2%;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-right: 50%;
}
/*********************************************************FIN SECTION EXPERIENCE*******************************************************************/

/*********************************************************SECTION RECOMMANDATION*******************************************************************/
.recommandationtitre {
	display: flex;
}
.recommandationtitre i {
	margin-right: 3%;
}
/*********************************************************FIN SECTION RECOMMANDATION*******************************************************************/

