*
{
    font-family: Calibri, sans-serif;
}

#contener {
	display: flex;
    padding-left: 18%;

}
h4 {
	color: #616161;
}
p {
	text-align: justify;
}

h3 {
	color: #616161; 
}

i.fas {
	color: #FF5722;
}
i.far {
	color: #FF5722;
}

hr {
	border-color: #FF5722;
	margin-top: -1%;
	width: 70%;
	margin-left: 0%;
	margin-bottom: 5%;
}

.blockright {
	margin-left: 5%;
}

h2 {
	margin-top: 0%;
}

.special {
	visibility: hidden;
	height: 0px;
}

/*********************************************************MARGE DE GAUCHE*******************************************************************/
.marge {
	background-color: #FF5722;
	width: 50%;
}
.marge img {
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;
	border-radius: 100px;
}
.marge h1 {
	background-color: #616161;
	color: #FF5722;
	font-weight: normal;
	margin-bottom: 15%;
	margin-top: 20%;
 	font-size: x-large;
 	text-align: center;
}
.contact p a{
	text-decoration: none;
	color: #616161;
}
.contact p a:hover{
	color: white;
}
.contact p{
	color: #616161;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}
.moi p {
	color: #616161;
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
}
.loisir {
	margin-top: 180%;
	padding-bottom: 15%;
}
.loi {
	display: flex;
}
.loi aside {
	margin-left: 13%;
}
.loi i.fas {
	color: #616161;
}
/*********************************************************FIN MARGE DE GAUCHE*******************************************************************/

/*********************************************************TETE DE PAGE*******************************************************************/
.titre h1 {
	color: #FF5722;
	font-size: 4em;
	display: inline-block;
}
.titre h1.nom {
	color: #616161;
	margin-left: 2%;
}
.metier {
	font-size: 1.5em;
	color: #616161;
	margin-top: -3%;
}
.titre hr {
	width: 10%;
	margin-left: 0%;
}
.titre {
	margin-bottom: 10%;
}
/*********************************************************FIN TETE DE PAGE*******************************************************************/

/*********************************************************SECTION DIPLOME*******************************************************************/
.diplometitre {
	display: flex;
}
.diplometitre i {
	margin-right: 3%;
}
.diplomedate {
	display: flex;
}
.diplomedate i {
	margin-right: 2%;
}
.diplomedate p {
	margin-top: 0%;
}
.diplomecontenu {
	display: flex;
}
.diplometext {
	margin-top: -2%;
	margin-left: 15%;
	margin-bottom: 5%;
	margin-right: 30%;
}
.bbb {
	margin-left: -18%;
}
/*********************************************************FIN SECTION DIPLOME*******************************************************************/

/*********************************************************SECTION EXPERIENCE*******************************************************************/
.experiencetitre {
	display: flex;
}
.experiencetitre i {
	margin-right: 3%;
}
.experiencedate {
	display: flex;
}
.experiencedate i {
	margin-right: 2%;
}
.experiencedate p {
	margin-top: 0%;
}
.experiencecontenu {
	display: flex;
}
.experiencetext {
	margin-top: -2%;
	margin-left: 10%;
	margin-bottom: 5%;
	margin-right: 30%;
}
.experiencetext1 {
	margin-top: -2%;
	margin-left: 13%;
	margin-bottom: 5%;
	margin-right: 30%;
}
/*********************************************************FIN SECTION EXPERIENCE*******************************************************************/

/*********************************************************SECTION RECOMMANDATION*******************************************************************/
.recommandationtitre {
	display: flex;
}
.recommandationtitre i {
	margin-right: 3%;
}
.recommandationcontenu {
	display: flex;
}
.recommandationtext {
	margin-right: 10%;
}
/*********************************************************FIN SECTION RECOMMANDATION*******************************************************************/


@media screen and (min-width: 644px) and (max-width: 987px)
{
	.marge {
		width: 800px;
	}
}

@media screen and (max-width: 644px)
{
	.marge {
		padding-right: 50px; 
	}

}


@media all and (max-device-width: 1024px) 
{
	body {
		justify-content: center;
	}

	#contener {
		flex-direction: column;
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	.marge {
		width: 100%;
	}
	.titre {
		order: 1;
	}
	.special {
		height: 50%;
		visibility: visible;
		background-color: #FF5722;
		margin-top: -7%;
	}
	.special h1 {
		font-size: 7em;
		color: white;
		padding-top: 20%;
		text-align: center;
	}
	.special h1.nom {
		margin-top: -15%;
		margin-bottom: 20%;
	}
	.special p {
		font-size: 4em;
		padding-bottom: 5%;
		text-align: center;
	}
	.titre {
		display: none;
		font-size: 0px;
	}
	.special img {
		margin-left: 40%;
		border-radius: 100px;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.marge img {
		display: none;
	}
	.marge h1 {
 	font-size: 5em;
	}
	.marge {
		margin-bottom: 15%;
	}
	.contact p{
		text-align: center;
		font-size: 3em;
	}
	.moi p {
		margin-bottom: 15%;
		font-size: 3em;
	}
	.loisir {
		margin-top: 0%;
		padding-bottom: 20%;
	}
	.loi i {
		font-size: 800%;
		margin-left: 40%;
	}
	.blockright h2 {
		font-size: 4em;
	}
	i.fa-graduation-cap, i.fa-briefcase, i.fa-pencil-alt {
		font-size: 8em;
	}
	hr {
		width: 100%;
		height: 1.2em;
		background-color: #FF5722;
		margin-left: -2.5%;
		margin-bottom: 15%;
	}
	.diplometitre, .experiencetitre {
		margin-bottom: 10%;
		margin-left: 5%;
		margin-top: 10%;
	
	}
	.diplomecontenu, .experiencecontenu {
		margin-left: 5%;
		margin-bottom: 10%;
		margin-right: 5%;
	}
	.diplomedate, .experiencedate {
		font-size: 3em;
	}
	h3 {
		font-size: 3em;
		margin-top: 0%;
	}
	.diplometext p, .experiencetext p, .experiencetext1 p, .recommandationtext p {
		font-size: 2.5em;

	}
	.diplometext p {
		margin-left: -60%;
		margin-right: -10%;
	}
	.diplometext p.minides {
		margin-left: 0%;
	}
	.experiencetext p {
		margin-left: -110%;
		margin-right: -25%;
		margin-top: 40%;
	}
	.experiencetext1 p {
	margin-left: -85%;
	margin-right: -30%;
	margin-top: 40%;
	}
	.recommandationtext {
		margin-left: 5%;
		margin-bottom: 20%;
	}
	.recommandationcontenu {
	flex-direction: column;
}
	#marge {
		align-items: center;
	}
	.special {
		align-items: center;
	}
	h4 {
		font-size: 2em;
	}
	.recommandation hr {
		margin-top: 10%;
	}


}




